@import "./variables.scss";


.portfolio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 60px;

    &__title {
        font-weight: 500;
        font-size: 65px;
        line-height: 60px;
        color: $secondary_color;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 144px;
    }

    &__left__image {
        display: flex;
        justify-content: flex-start;
    }

    &__right__image {
        display: flex;
        justify-content: flex-end;
    }

    &__last__image {
        margin: 0 auto;
    }
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 107px;
        margin-bottom: 180px;
    }
}

